.neoDaysCarousel {
    border: 1px blue solid;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.dayOfCarousel {
    margin: 2px;
    padding: 2px;
}

.enabledDay {
    cursor: default;
    background-color: rgb(202, 202, 202);
    padding: 5px;
}

.disabledDay {
    cursor: pointer;
}