.nearEarthObjects {
    border: 1px brown solid;
    min-height: 600px;
    width: 100%;
}

.neoContent {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}